PORT=3000
PUBLIC_PATH=public

##DATABASE_URL="postgresql://postgres:123456@localhost:5432/todo?schema=public"
DATABASE_URL="postgresql://neondb_owner:npg_bH8jAYZPVE6T@ep-bitter-mountain-aqis60a2-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

POSTGRES_USER=postgres
POSTGRES_DB=todo
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123456


NODE_ENV=development

##DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"